{% extends 'videos/base.html' %}

{% block history %}
    <div id='history' class='select'>
        <div class='icon select'></div>
        <a href='{% url 'videos:history' %}'>历史</a>
    </div>
{% endblock %}

{% block main %}
    <main class="area">
        {% for video in double_video_list %}
            <div id="video_{{forloop.counter}}" class="video">
                <div class="area" style="background-image: url('{{ video.image_path }}');"></div>	
                <a href="/videos/detail/{{ video.id }}/"> {{ video.name }} </a>
            </div>
        {% endfor %}
    </main>
{% endblock %}