{% extends 'videos/base.html' %}

{% block upload %}
    <div id='upload' class='select'>
        <div class='icon select'></div>
        <a href='{% url 'videos:upload' %}'>上传</a>
    </div>
{% endblock %}

{% block main %}
    <main class="area">
        <form method='post' enctype='multipart/form-data'>
            <div id='file' class='area'>
                {% csrf_token %}
                <div class='area'>
                    {{ form.file }} 
                </div>
            </div>
            <div id='resolution' class='area'>
                <select>
                    <option>分辨率：1920 * 1080</option>
                    <option>分辨率：1366 * 768</option>
                    <option>分辨率：1280 * 720</option>
                </select>
            </div>
            <div id='time' class='area'>
                <select>
                    <option>时间截取：无截取</option>
                    <option>时间截取：00:00:00 - 00:01:00</option>
                    <option>时间截取：00:00:00 - 00:00:10</option>
                </select>
            </div>
            <div id='gennerate' class='area'>
                <input type='submit' value='生成'>
            </div>
        </form>
    </main>
{% endblock %}