{% extends 'videos/base.html' %}
{% block header %}
{% endblock %}
{% block aside %}
{% endblock %}
{% block main %}
    <main id="login_table" class="area">
        <p class="title">请登录</p>
        <form action="" method="post">
            {% csrf_token %}
            <div class="username">
                <p>账号</p>
                <input type="text" name="username">
            </div>
            <div class="password">
                <p>密码</p>
                <input type="password" name="password">
            </div>
            <input class="submit" type="submit" value="登录">
        </form>
    </main>
{% endblock %}